<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <link
     rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
   />
   <link rel="stylesheet" href="aboutus.css">
    <title>Document</title>
    <script>
        function myFunction(){

var x = document.getElementById("container");

  if (x.style.display == "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
};

    </script>

  
</head>

    <div class="header">

            <div class="navbar" id="myDIV">
                <i class="fas fa-bars" id="menubars" onclick="myFunction()"></i>
                <i class="notes">Yournotes.com</i>
                <div id="container">
                <ul>
              
                
                <a href="/services"><li>AboutUs</li></a>
                <a href="/login">  <li> login </li></a>
              <!--  <a href="/register"> <li>Register</li></a> -->
                </ul>
               </div>
            </div>
            
    </div>
    <div class="aboutus">
        <div class="about-1">
            <h1>about us....</h1>
            <h1>For your kind information I want to say that by signing in with google you are just giving access to your emailid name and profileimage link</h1>
            <h1>This website is still in maintenance and many more features to add...</h1>

        </div>
        <div class="founder">
          <p>founder: </p>
          <a href="https://www.linkedin.com/in/saurabh-kumar-xrt" id="linkedin">Saurabh Kumar<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
        </div>
        
    </div>
    
    
</body>
</html>
