:root{
    --green: rgb(110, 48, 48);
    --black: #192a56;
    --light-color: #dcedf7;
    --box-shadow:0  .5rem 1.5rem rgba(0,0,0,0.1);
   }
   *{
     
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
     outline: none;
     border: none;
  
     transition: all .3s linear;
     
   }
    .navbar{
         background-color: var(--black);
         box-shadow: var(--box-shadow);
         display: flex;
         position: relative;
     }
       #container{
         margin-left: 15%;
     }
     .navbar  #container ul{
         display: flex;
         justify-content: center;
         font-weight: 900;
     }
         .navbar  #container ul li{
         padding: 1rem;
         color: #ffff;
         font-size: 1.5rem;
         list-style: none;
     }
     .navbar a{
         text-decoration: none;
         
     }
   .notes{
         padding: 1rem;
         color: #fff;
         font-size: 1.5rem;
         margin-left: 1.5rem;
         font-weight: bold;
 
     }
        #menubars{
         display: none;
         padding: 1rem;
         color: black;
         font-size: 1.5rem;
         margin-left: 1.5rem;
         font-weight: bold;
     }
       #googleimg{
         height: 100%;
         width: 100%;
         border-radius: 50%;
         
     }
       .profile{
        width: 100%;
       
     }
     .profile ul{
         margin-left: 25%;
        
 
     }
     .profile ul li{
         width: 4rem;
          height: 4rem;
          padding: 0.6rem;
          list-style-type: none;
     }
    
     .container{
     margin: 4rem auto;
     box-shadow: var(--box-shadow);
     width: 70%;
     padding: 2rem 0 2rem;
 }
 input , label{
     display: block;
     background-color: #ffff;
     margin: 1rem auto 1rem  ;
     padding: .5rem ;
     width: 60%;
     border: .2rem solid black;
     border-radius: 1rem;
 }
 .btn{
     display: block;
     background-color: #ffff;
     margin: 1rem auto 1rem  ;
     padding: .5rem ;
     width: 60%;
     border: .2rem solid black;
     border-radius: 1rem;
     cursor: pointer;
 }
  #menubars{
         display: none;
         padding: 1rem;
         color: black;
         font-size: 1.5rem;
         margin-left: 1.5rem;
         font-weight: bold;
     }
     .success{
       text-align: center;
       color: #fff;
       font-size: 1.5rem;
     }
 
     @media(max-width:910px){
          #container{
             display: none;
          
             margin-left: 0;
         }
         .hidden{
          display: none;
         }
         #menubars{
             display: block;
             color: #fff;
         }
         .navbar  #container ul{
         position: absolute;
         display: flex;
         top: 4rem;
         left: 0rem;
         padding: 0.1rem 0.5rem 0.1rem ;
         width: 100%;
        
         box-shadow: var(--box-shadow);
        
 
 
         
         }
         .navbar #container ul li{
            padding: 0.5rem;
            font-size: 1.3rem;
            color: black;
         }
         .container{
           width: 90%;
           padding: 1.5rem 0rem 1.5rem;
         }
         input, label{
           margin: 1rem auto 1rem;
           width: 80%;
         }
     }
 
